h2 {
  text-align: center;
  color: #333;
}

#uploadForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none; 
  background-color: #1d3557;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="file"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #1d3557;
  color: #fff;
  padding: 15px 20px; 
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}



hr {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th:last-child {
width: 20%; 
}
td img {
  display: block;
  width: 100%;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Make sure the image doesn't exceed the cell width */
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; 
  padding: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #caf0f8;
 
}

th {
  background-color: #f2f2f2;
}




@media screen and (max-width: 600px) {
  table {
      overflow-x: auto;
      display: block;
  }

  th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
  td img {
    max-height: 100%; 
  padding: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #caf0f8;
  }
}